@import "_global";
#blog-header {
  .hover-line::after {
    background: $color-dark;
  }
}
#blog {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2.62rem;

  padding: 5.7rem 8.75rem;

  background: $color-gray-400;

  &::before {
    content: url("/assets/vectors/dawn.svg");
    position: absolute;
    left: 0;
    top: 11rem;
  }

  .blog-title {
    width: 100%;
    font: $font-h4-medium;
  }

  .blog-posts {
    display: flex;
    width: 100%;
    gap: 7.62rem;
  }
  .posts-categories {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    white-space: nowrap;

    .categories-list {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    .categories-title {
      font: $font-b18-regular;
    }
    .categories-item {
      font: $font-b14-light;
    }
  }

  .posts-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5.25rem;
    row-gap: 4.75rem;

    width: 100%;
  }

  .post-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-grow: 1;

    width: 45%;
    max-width: 550px;

    &:hover .post-tags {
      background: rgba(0, 0, 0, 0.18);
      .tag-button {
        opacity: 1;
      }
    }
  }

  .post-img {
    position: relative;
    width: 100%;
    img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;

      width: 100%;
      height: 100%;
      border-radius: 0.65rem;

      object-fit: cover;
    }
  }
  .post-tags {
    transition: all 1s;
    position: relative;

    padding: 1.25rem;
    height: 260px;

    .tag-button {
      color: $color-white;
      opacity: 0;
    }
  }

  .post-title {
    font: $font-b19-semibold;
  }
  .post-desc {
    font: $font-b15-light;
  }
  .post-readMore {
    width: max-content;
    padding: 0.75rem 1.5rem;

    color: $color-white;
    border-radius: 3.75rem;
    background: $color-dark;
  }

  .posts-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    width: 94%;
    margin: auto;
  }
  .posts-number {
    font: $font-b16-light;
  }
  .posts-counter {
    width: 100%;
    height: 0.25rem;

    border-radius: 5rem;
    background: $color-gray-500;

    .counter-bar {
      width: 50%;
      height: 100%;

      border-radius: 5rem;
      background: $color-dark;
    }
  }
  .showMore-button {
    padding: 0.75rem 1.5rem;

    border: 1px solid $color-dark;
    border-radius: 3.75rem;

    font: $font-b14-medium;
    text-align: center;

    transition: all ease 0.7s;

    &:hover {
      background: $color-dark;
      color: $color-white;
    }
  }

  @media only screen and (max-width: 842px) {
    & {
      flex-direction: column;
      gap: 2rem;

      padding: 0rem 0.75rem 3.75rem;

      &::before {
        display: none;
      }
      .blog-title {
        font: $font-mobile-b24-medium;
      }

      .blog-posts {
        flex-direction: column;
        align-items: center;
        gap: 2.5rem;
      }
      .posts-categories {
        gap: 1rem;
        width: 100%;
        .categories-list {
          flex-direction: row;
          flex-wrap: wrap;
          gap: 1.5rem;
        }
        .categories-title {
          font: $font-mobile-b18-regular;
        }
        .categories-item {
          font: $font-mobile-b14-light;
        }
      }

      .posts-list {
        flex-direction: column;
        align-items: center;
        gap: 2.8rem;
      }
      .post-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        width: 100%;
      }

      .post-tags {
        background: rgba(0, 0, 0, 0.18);
        .tag-button {
          opacity: 1;
        }
      }

      .post-title {
        font: $font-b20-semibold;
      }
      .post-desc {
        font: $font-mobile-b16-regular;
      }
      .post-readMore {
        font: $font-mobile-b14-medium;
      }
    }

    .posts-state {
    }
    .showMore-button {
      width: 100%;

      font: $font-mobile-b14-medium;
    }
  }
}
