@import "_global";

#blogPost-hero {
  .hero-desc {
    padding: 0.75rem 0;
  }

  @media only screen and (max-width: 767px) {
    .hero-siteName {
      padding-bottom: 0.5rem;
    }
    .hero-desc {
      padding: 0;
    }
  }
}

//////////
///
///

#blogPost-post {
  display: flex;
  flex-direction: column;
  gap: 6.5rem;

  max-width: 1200px;
  padding: 5rem 7.25rem 12.5rem;

  .post-info {
    display: flex;
    gap: 1rem;
  }
  .post-authorImg {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 50%;
  }
  .post-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .post-authorName {
    font: $font-montserrat-18-semibold;
  }
  .post-readingTime,
  .post-date {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    white-space: nowrap;
    font: $font-b14-light;
    .info-img {
    }
  }
  .post-date {
    margin-left: auto;
    align-self: flex-end;
  }

  .post-tags {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1.5rem;
  }

  .post-content {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    font: $font-b18-regular;

    section:not(:last-child) {
      padding-bottom: 4rem;
      border-bottom: 1px solid $color-gray-500;
    }

    h2 {
      margin-bottom: 1.5rem;
      font: $font-b24-medium;
    }
    .light {
      font: $font-b18-light;
    }
    strong {
      font-weight: 600;
    }
    ol {
      display: flex;
      flex-direction: column;
      gap: 2.75rem;

      margin-top: 2.75rem;
      margin-left: 4rem;

      > li {
        position: relative;

        &::before {
          content: counters(list-item, ".") ".";
          position: absolute;
          left: -4rem;
          top: -0.5rem;

          display: flex;
          justify-content: center;
          align-items: center;
          width: 2.5rem;
          height: 2.5rem;
          z-index: -1;

          border-radius: 50%;
          background: $color-dark;
          color: $color-white;
        }
      }
    }
    ul {
      margin-left: 3em;
      > li {
        list-style-type: disc;

        &::marker {
          font-size: 0.8em;
        }
      }
    }
  }
  @media only screen and (max-width: 767px) {
    & {
      padding: 4.25rem 0.75rem;

      gap: 2rem;

      .post-info {
        display: flex;
        gap: 1rem;

        white-space: nowrap;
      }
      .post-authorImg {
        width: 3rem;
        height: 3rem;
      }
      .post-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .post-authorName {
      }
      .post-readingTime,
      .post-date {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        white-space: nowrap;
        font: $font-mobile-b14-light;
        .info-img {
        }
      }
      .post-date {
        display: none;
      }
      .post-content {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        font: $font-mobile-b16-regular;

        section:not(:last-child) {
          padding-bottom: 2rem;
          border-bottom: 1px solid $color-gray-500;
        }

        h2 {
          margin-bottom: 1.5rem;
          font: $font-b24-medium;
        }
        .light {
          font: $font-mobile-b16-light;
        }
        strong {
          font-weight: 600;
        }
        ol {
          display: flex;
          flex-direction: column;
          gap: 2.75rem;

          margin-top: 2.75rem;
          margin-left: 4rem;

          > li {
            position: relative;

            &::before {
              content: counters(list-item, ".") ".";
              position: absolute;
              left: -4rem;
              top: -0.5rem;

              display: flex;
              justify-content: center;
              align-items: center;
              width: 2.5rem;
              height: 2.5rem;
              z-index: -1;

              border-radius: 50%;
              background: $color-dark;
              color: $color-white;
            }
          }
        }
        ul {
          margin-left: 3em;
          > li {
            list-style-type: disc;

            &::marker {
              font-size: 0.8em;
            }
          }
        }
      }
    }
  }
}
