@import "_global";

#home-hero {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100svh;

  // background: url("/assets/images/hero-bg.png") center no-repeat fixed;
  // background-size: cover;

  color: $color-white;

  .hero-content {
    gap: 0rem;

    .hero-title {
      font: $font-h1-regular;
    }
    .hero-desc {
      max-width: 705px;
      margin-top: 2.81rem;
      font: $font-b20-regular;

      .circle-selected-green::before {
        transform: scaleX(1.06) scaleY(1.5);
      }
    }
    .hero-trustedUs {
      display: flex;
      gap: 0.2rem;

      margin-top: 2.25rem;

      font: $font-b14-regular;

      ul {
        display: flex;
        gap: 0.4em;

        > li:not(:last-child)::after {
          content: "|";
          margin-left: 0.4em;
        }
      }
    }
    .hero-logos {
      display: flex;
      gap: 0.5rem;

      margin-top: 1.5rem;
      height: 2.75rem;

      a {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 1rem 2rem;
        background: $color-gray-400;
        border-radius: 7.5rem;
      }

      .corner-logo {
        width: 5.45rem;
      }
      .clutch-logo {
        width: 3.8rem;
      }
    }
  }

  //draw line
  &::after {
    content: none;
    position: absolute;
    left: 0;
    top: calc(100% - 100px);
    width: 0;
    height: 0;
    border-top-right-radius: 0;
    border-top: 2px solid $color-white;
    border-right: 2px solid $color-white;
    animation: draw 2s forwards;
  }

  .hero-animations {
    .draw-svg1 {
      position: absolute;
      left: 0;
      bottom: 0;

      width: 33%;

      path {
        stroke-dasharray: 160%;
        stroke-dashoffset: 160%;
        animation: drawSvg 2s forwards;
      }
    }
    .draw-line-leaf {
      position: absolute;
      right: 0;
      bottom: 0;

      height: 50%;

      .long-line {
        stroke-dasharray: 140%;
        stroke-dashoffset: 140%;
        animation: drawSvg 2s forwards;
      }

      .short-line {
        stroke-dasharray: 73%;
        stroke-dashoffset: 73%;
        animation: drawSvg 2s forwards;
        animation-delay: 1.1s;
      }

      .leaf {
        animation: drawFill 2s both;
        fill: $color-gradient;
        animation-delay: 2.6s;

        transform: skew(-12deg, -16deg) translate(25%, 75%) scale(0);
      }
    }
  }

  @keyframes drawSvg {
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes drawFill {
    0% {
      opacity: 0;
      transform: skew(-12deg, -16deg) translate(24.9%, 75%) scale(0);
    }
    30% {
      opacity: 1;
    }

    100% {
      transform: skew(0) translate(0) scale(1);
    }
  }

  @keyframes draw {
    0% {
      width: 0;
      height: 0;
      border-top-right-radius: 0;
    }
    20% {
      width: 33%;
      height: 0;
      border-top-right-radius: 100%;
    }
    60% {
      width: 40%;
      height: 50;
      border-top-right-radius: 50px;
    }
    100% {
      width: 40%;
      height: 100px;
      border-top-right-radius: 50px;
    }
  }

  ////////// MOBILE HERO //////////

  @media only screen and (max-width: 767px) {
    .hero-content {
      padding-bottom: 0.75rem;
      margin-bottom: 0;
      .hero-title {
        width: 100%;
        max-width: 480px;
        font: $font-mobile-h1-regular;
      }
      .hero-desc {
        max-width: 480px;

        font: $font-mobile-b17-regular;
        .circle-selected-green {
          white-space: wrap;
          &::before {
            display: none;
          }
        }
      }
    }
  }
}

///////////////////

#home-caseStudy {
  position: relative;
  min-height: 100vh;
  overflow: hidden;

  background: $color-gray-500;

  .background-lines {
    &::before {
      content: "";
      position: absolute;
      right: 50%;
      top: -2px;

      width: 4rem;
      height: 25rem;

      border-top-left-radius: 3rem;
      border-top: 1px solid $color-gray-800;
      border-left: 1px solid $color-gray-800;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;

      width: 3rem;
      height: 56%;

      border-top-right-radius: 3rem;
      border-top: 1px solid $color-gray-800;
      border-right: 1px solid $color-gray-800;
    }
    .line-1 {
      position: absolute;
      right: 0;
      top: 40%;

      background: url("/assets/vectors/curve-line.svg");
      width: 30%;
      height: 30%;
    }
  }

  .caseStudy-title {
    font: $font-h5-medium;
    color: $color-dark;
    position: relative;
    z-index: 1;
  }

  // .leaf-item.onFirstTimeView {
  //   position: relative;
  //   transform-origin: top;
  //   z-index: 1;
  //   transform: perspective(1500px) translate(0, -1rem) rotateX(180deg);

  //   img {
  //     z-index: 1;
  //   }
  //   &::after {
  //     content: "";
  //     position: absolute;
  //     top: 0;
  //     right: 0;
  //     bottom: 0;
  //     left: 0;
  //     z-index: 1;
  //     width: 100%;
  //     height: 100%;
  //     opacity: 1;
  //     border-radius: inherit;
  //     background: rgba(85, 85, 85, 0.693);
  //     backdrop-filter: blur(4px);
  //     transition: all 2s;
  //   }
  // }
  // .onFirstTimeView.isShown {
  //   animation: unfoldAnime 2s forwards;
  //   &::after {
  //     opacity: 0;
  //   }
  // }

  // @keyframes unfoldAnime {
  //   100% {
  //     transform: translate(0, 0rem) rotateX(0deg);
  //   }
  // }

  //   ////////// MOBILE CASE STUDY //////////

  @media only screen and (max-width: 800px) {
    & {
      .caseStudy-title {
        padding: 0 0.5rem;

        font: $font-mobile-b24-medium;
      }
    }
  }
}

#home-trustedUs {
  background: $color-gray-400;
  .trustedUs-title {
    font: $font-h5-medium;
  }
  .trustedUs-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8rem;
    row-gap: 2.75rem;

    width: 100%;
    padding-top: 4.5rem;
    min-width: 660px;
    max-width: 1400px;
    margin: auto;
    img {
      width: 140px;

      object-fit: contain;
      filter: grayscale(1);
      transition: all 0.5s;

      &:hover {
        filter: grayscale(0);
      }
    }
  }

  ////////// MOBILE TRUSTED US //////////

  @media only screen and (max-width: 767px) {
    & {
      .trustedUs-logos {
        justify-content: space-evenly;
        gap: 3.5rem;
        row-gap: 2rem;
        min-width: unset;
        max-width: 400px;
        padding-top: 2.75rem;

        img {
          width: 30%;
          min-width: 100px;
          max-width: 150px;
        }
      }
    }
  }
}

#home-aboutWork {
  position: relative;

  justify-content: center;

  min-height: 100svh;
  padding: 8.8rem 6.5rem;

  background: $color-green-700;
  .aboutWork-title {
    font: $font-h5-medium;
  }
  .aboutWork-desc {
    width: 100%;
    padding: 6.5rem 7.5rem;
    font: $font-h4-medium;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 30vh;
    width: 3rem;
    border-left: 1px solid $color-gray-800;
    border-top: 1px solid $color-gray-800;
    border-top-left-radius: 50px;
  }

  ////////// MOBILE ABOUT WORK //////////

  @media only screen and (max-width: 767px) {
    & {
      padding: 9.75rem 0.75rem;

      .aboutWork-title {
        font: $font-mobile-b24-regular;
      }
      .aboutWork-desc {
        padding: 2.5rem 0 0;
        font: $font-mobile-b24-medium;

        .circle-selected {
          &::before {
            background: url("/assets/vectors/ecom-dark-circle.svg");
            position: absolute;
            width: 100%;
            height: 100%;
            transform: scaleX(1.1) scaleY(1.2);
          }
        }
      }
    }
  }
}

// Analiza projektowanie

#home-howWeWork {
  padding: 8.8rem 10rem;

  .howWeWork-list {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .howWeWork-item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    row-gap: 1.75rem;

    padding: 3.25rem 0 0 2.5rem;

    @media only screen and (min-width: 768px) {
      &:hover svg > * {
        stroke-dashoffset: 0;
      }
    }
    &:first-child {
      padding-top: 0;
    }
    &:not(:last-child) {
      padding-bottom: 3.25rem;
      border-bottom: solid 0.02em $color-gray-600;
    }
  }

  .howWeWork-name {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    min-width: 160px;
    width: 50%;

    .title {
      font: $font-b24-semibold;
    }
    .subtitle {
      font: $font-b16-light;
      font-style: italic;
    }
  }

  .howWeWork-desc {
    position: relative;
    flex-grow: 1;

    min-width: 360px;
    width: 40%;
    max-width: 800px;
    padding-right: 4.5rem;

    font: $font-b16-regular;

    transition: all 1s;
  }
  .green-circle-arrow {
    position: absolute;
    top: 0.2rem;
    right: 0;

    width: 3.5rem;
    height: 3.5rem;

    & > * {
      transition: all ease 1s;
    }
    .circle {
      stroke-dasharray: 305%;
      stroke-dashoffset: 305%;
    }
    .arrow1 {
      stroke-dasharray: 115%;
      stroke-dashoffset: 115%;
    }
    .arrow2 {
      stroke-dasharray: 43%;
      stroke-dashoffset: 43%;
    }
  }

  // Unfold mobile

  .unfold-button {
    display: none;

    position: absolute;
    right: 0;
    top: 2.5rem;
    z-index: 2;

    width: 3.5rem;
    padding: 1rem;
    .line1 {
      transition: all 0.5s;
      transform-origin: center;
      rotate: 90deg;
    }
  }
  .isHidden .line1 {
    rotate: 0deg;
  }

  // MOBILE howWeWork //

  @media only screen and (max-width: 767px) {
    & {
      padding: 0.5rem 2.1rem 0;

      .howWeWork-list {
        .howWeWork-item {
          padding: 3.25rem 0 4.25rem;
          &:not(.isHidden) {
            svg > * {
              stroke-dashoffset: 0 !important;
            }
          }
        }
        .howWeWork-name {
          width: 80%;
          font: $font-mobile-b24-semibold;
          .sub-title {
            font: $font-mobile-b16-light;
          }
        }
        .howWeWork-desc {
          font: $font-mobile-b17-regular;
          padding-top: 7.65rem;
          padding-right: 0;
          padding-bottom: 5rem;
          min-width: unset;
          overflow: hidden;

          .green-circle-arrow {
            position: static;
            margin-top: 0.75rem;
            margin-left: auto;
            transition: all 0.6s;
          }
        }
        .unfold-button {
          display: block;
        }
        .isHidden .howWeWork-desc {
          padding-top: 0;
          padding-bottom: 0;
          height: 0 !important;
        }
      }
    }
  }
}

#home-workType {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: max-content;
  height: 100vh;
  max-height: 1000px;
  background: $color-gray-400;

  .workType-img {
    position: relative;
    width: 46%;
    min-height: 400px;
    height: auto;
    flex-grow: 1;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .workType-content {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8.88rem;
    flex-basis: 54%;
    flex-grow: 1;

    padding: 6rem 6.25rem 6rem 4rem;

    background: linear-gradient(140deg, #6ef083 0%, #4fd5ff 100%);
    background-size: 200% 200%;

    animation: movinGradient 7s ease infinite;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      height: 65%;
      width: 3rem;
      border-left: 1px solid $color-gray-800;
      border-top: 1px solid $color-gray-800;
      border-top-left-radius: 50px;
    }
    .workType-title {
      white-space: nowrap;
      font: $font-h4-medium;

      .special {
        font: $font-montserrat-45-semibold;
      }
    }
    .workType-bottom-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2.5rem;
      width: 100%;

      max-width: 580px;
      min-width: 400px;

      padding-top: 3rem;

      .workType-desc {
        max-width: 465px;
        padding-top: 3rem;
        border-top: 1px solid $color-dark;
      }
      .workType-button {
        border-radius: 100%;
        transition: all 0.5s;

        .circle {
          fill: transparent;
          transition: all 0.6s;
        }
        &:hover .circle {
          fill: #6ef083;
        }
        .circle-arrow {
          margin-top: 1.5rem;
          min-width: 4.5rem;
          rotate: -38.65deg;

          > * {
            stroke: $color-dark;
          }
          .arrow-line {
            animation: wobble 4s ease infinite;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 767px) {
    & {
      max-height: unset;
      height: unset;
      .workType-content {
        padding: 2.5rem 0.75rem;
        min-width: 64%;

        height: 100svh;
        max-height: 750px; // ASK

        &::before {
          display: none;
        }
        .workType-title {
          font: $font-mobile-b24-medium;

          .special {
            font: $font-mobile-montserrat-24-semibold;
          }
        }
        .workType-bottom-content {
          gap: 1rem;
          min-width: unset;
          .workType-desc {
            padding-top: 2.25rem;
            font: $font-mobile-b17-regular;
          }
          .workType-button {
            align-self: flex-end;
          }
        }
      }
    }
  }
}

#home-ourValues {
  display: flex;
  background: $color-gray-400;

  .ourValues-title {
    font: $font-h4-medium;
  }

  .ourValues-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6rem;

    padding-bottom: 5rem;

    .value-item {
      display: flex;
      align-items: baseline;
      flex-direction: column;

      min-width: 250px;
      width: 25%;
      flex-grow: 1;
      max-width: 500px;
    }
    .value-icon {
      height: 3.75rem;
      transition: all 1s;
      overflow: visible;
    }

    .value-name {
      padding: 1rem 0 1.5rem;
      font: $font-b20-semibold;
    }
    .value-desc {
      font: $font-b16-light;
    }

    // Klientocentrycznosc
    .value-icon-1 {
      > * {
        transition: all 1s;
      }
      .circle {
      }
      .dot2 {
        transform: translate(30px, 30px) scale(0);
      }
    }
    .value-item:hover .value-icon-1 {
      > * {
      }
      .circle {
      }
      .dot1 {
        transform: translate(-37px, -37px) scale(2.2);
      }
      .dot2 {
        transform: translate(0, 0) scale(1);
      }
    }

    // Partnerstwo
    .value-icon-2 {
      > * {
        transition: all 1s;
      }
    }
    .value-item:hover .value-icon-2 {
      .dot1 {
        transform: translate(46%);
      }
      .dot2 {
        transform: translateX(-46%);
      }
    }

    // Elastyczność
    .value-icon-3 {
      width: 5rem;
      padding: 0.5rem 0 0.5rem;
      > * {
        transition: all 0.8s;
      }
    }
    .value-item:hover .value-icon-3 {
      .rect {
        transform: scaleX(1.36);
      }
      .dashes1 {
        transform: translateX(100%) scaleX(-1);
        fill: $color-gray-400;
      }
      .dashes2 {
        transform: translateX(100%) scaleX(-1);
      }
    }

    // Wszechstronność
    .value-icon-4 {
      // width: 5rem;
      // height: 2.3rem;

      > * {
        transition: all 0.8s;
      }
    }
    .value-item:hover .value-icon-4 {
      .circle-1 {
        translate: 12% 24%;
      }
      .circle-2 {
        translate: -4% 16%;
      }
      .circle-3 {
        translate: -19% 8%;
      }
      .circle-4 {
        translate: -4% -2%;
      }
      .circle-5 {
        translate: -21% 42%;
      }
      .circle-6 {
        translate: 11% 9%;
      }
      .circle-7 {
        translate: -21% 23%;
      }
      .circle-8 {
        translate: -6% 16%;
      }
      .circle-9 {
        translate: 9% 9%;
      }
    }

    // Transparentność
    .value-icon-5 {
      .dashes-1,
      .dashes-2 {
        transition: all 0.8s;
      }
      // .circle-2{
      //   transition: all ease-out 1.6s;
      //   transform:  translate(35%, 36%) scale(0);
      //   fill: $color-gray-400;
      // }
      .circle-1 {
        transition: all cubic-bezier(0.65, 0.05, 0.53, 0.73) 0.8s;
      }
    }
    .value-item:hover .value-icon-5 {
      .circle-1 {
        fill: transparent;
      }
      // .circle-2{
      //   transform: translate(-11%, -10%) scale(1.3);

      // }
      .dashes-2,
      .dashes-1 {
        fill: $color-green-700;
        transform: translate(-60%, -59%) scale(1.4);
      }
    }

    // Pasja
    .value-icon-6 {
      > * {
        transition: all 0.8s;
      }

      .heart-3 {
        transform: translate(-36%, -36%) scale(0.8);
      }
      .heart-4 {
        transform: translate(-36%, -36%) scale(1);
      }
    }
    .value-item:hover .value-icon-6 {
      .heart-1 {
        transform: scale(1.2);
      }
      .heart-2 {
        transform: scale(1.2);
      }
      .heart-3 {
        transform: translate(25%, -90%) scale(1);
      }
      .heart-4 {
        transform: translate(-98%, -28%) scale(1.1);
      }
    }
  }

  @media only screen and (max-width: 767px) {
    & {
      .value-item.isCurrentWindow .value-icon-1 {
        > * {
        }
        .circle {
        }
        .dot1 {
          transform: translate(-37px, -37px) scale(2.2);
        }
        .dot2 {
          transform: translate(0, 0) scale(1);
        }
      }

      // Partnerstwo
      .value-item.isCurrentWindow .value-icon-2 {
        .dot1 {
          transform: translate(46%);
        }
        .dot2 {
          transform: translateX(-46%);
        }
      }

      // Elastyczność
      .value-item.isCurrentWindow .value-icon-3 {
        .rect {
          transform: scaleX(1.36);
        }
        .dashes1 {
          transform: translateX(100%) scaleX(-1);
          fill: $color-gray-400;
        }
        .dashes2 {
          transform: translateX(100%) scaleX(-1);
        }
      }

      // Wszechstronność
      .value-item.isCurrentWindow .value-icon-4 {
        .circle-1 {
          translate: 12% 24%;
        }
        .circle-2 {
          translate: -4% 16%;
        }
        .circle-3 {
          translate: -19% 8%;
        }
        .circle-4 {
          translate: -4% -2%;
        }
        .circle-5 {
          translate: -21% 42%;
        }
        .circle-6 {
          translate: 11% 9%;
        }
        .circle-7 {
          translate: -21% 23%;
        }
        .circle-8 {
          translate: -6% 16%;
        }
        .circle-9 {
          translate: 9% 9%;
        }
      }

      // Transparentność
      .value-item.isCurrentWindow .value-icon-5 {
        .circle-1 {
          fill: transparent;
        }
        .dashes-2,
        .dashes-1 {
          fill: $color-green-700;
          transform: translate(-60%, -59%) scale(1.4);
        }
      }

      // Pasja

      .value-item.isCurrentWindow .value-icon-6 {
        .heart-1 {
          transform: scale(1.2);
        }
        .heart-2 {
          transform: scale(1.2);
        }
        .heart-3 {
          transform: translate(25%, -90%) scale(1);
        }
        .heart-4 {
          transform: translate(-98%, -28%) scale(1.1);
        }
      }

      .ourValues-content {
        gap: 2.5rem;
        padding-bottom: 0;
        .value-item {
          width: 100%;
          .value-name {
            font: $font-mobile-b20-semibold;
          }
          .value-desc {
            font: $font-mobile-b16-light;
          }
        }
      }
    }
  }
}

#home-clientsQuotes {
  padding: 10.6rem 0rem 9.6rem;
  overflow: hidden;

  color: $color-white;

  // background: url("/assets/vectors/quotes-orange-bg.svg") center no-repeat;
  // background-size: cover;

  background: linear-gradient(
    90deg,
    $color-orange,
    $color-light-orange,
    $color-orange
  );
  background-size: 600% 600%;
  transition: all 1s;
}
.clientsQuotes-title {
  position: relative;
  font: $font-h4-medium;
  margin-left: 9.5rem;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -0.75rem;

    width: 45px;
    height: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: $color-white;
  }
}
.clientsQuotes-content {
  display: flex;
  transition: all 1s;
}
.clientsQuotes-item {
  display: flex;
  flex-direction: column;
  gap: 7.25rem;
  flex-shrink: 0;

  width: 100vw;
  padding: 8.5rem 14.1rem 1rem;

  opacity: 0;
  transition: all ease-in-out 1s;
  .client-quote {
    position: relative;
    max-width: 900px;
    margin: auto;
    font: $font-b20-regular;
    font-style: italic;

    &::before {
      content: "“";
      position: absolute;
      left: -1.8rem;
      top: -2rem;
      font: $font-h1-regular;
    }
    &::after {
      content: "“";
      position: absolute;
      right: -0.5rem;

      bottom: -3.25rem;
      font: $font-h1-regular;
    }
  }

  .client-content {
    display: flex;
    gap: 1rem;
    .client-img {
      min-width: 4rem;
      width: 4rem;
      height: 4rem;
      aspect-ratio: 1;
      object-fit: cover;
      border-radius: 50%;
    }
    .client-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.5rem;
      padding-right: 2rem;

      .client-name {
        font: $font-b16-semibold;
        text-transform: uppercase;
      }
      .client-position {
        font: $font-b15-regular;
      }
    }
  }
}
.bottom-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 1.5rem;
}

.clientsQuotes-pagination {
  z-index: 2;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 0;

  width: auto;
  margin-top: -4.5rem;
  min-width: 700px;
  margin-right: 9.5rem;
  .quote-number {
    font: $font-b16-regular;
    margin-right: 2rem;
  }

  .pagination-button {
    border-radius: 100%;
    transition: all 0.5s;
    cursor: pointer;
    &:hover {
      background: $color-light-orange;
    }

    &.disabled {
      background: rgba(85, 85, 85, 0.242);
      cursor: default;
    }
  }

  .prev-quote {
    rotate: 180deg;
    margin-right: 1.5rem;
  }
}

@media only screen and (max-width: 767px) {
  #home-clientsQuotes {
    padding: 5.5rem 0 2rem;
  }
  .clientsQuotes-title {
    font: $font-mobile-b24-medium;
    margin-left: 0.75rem;
  }
  .clientsQuotes-content {
    padding: 0;
  }
  .clientsQuotes-item {
    gap: 5.85rem;
    padding: 6rem 0.75rem 0;

    .client-quote {
      font: $font-mobile-b17-regular;
      font-style: italic;

      &::before {
        left: 0;
        top: -3rem;

        font-size: 49px;
        font-weight: 600;
      }
      &::after {
        right: 1.25rem;
        bottom: -4.5rem;

        font-size: 49px;
        font-weight: 600;
      }
    }

    .client-content {
      .client-info {
        .client-name {
          font: $font-mobile-b14-semibold;
        }
        .client-position {
          font: $font-mobile-b14-regular;
        }
      }
    }
  }
  .bottom-panel {
  }

  .clientsQuotes-pagination {
    min-width: unset;
    margin-top: 4rem;
    margin-right: 0.75rem;

    .pagination-button.disabled {
      opacity: 0;
    }
    .quote-number {
      font: $font-mobile-b16-light;
      margin-right: 1.25rem;
    }
    .prev-quote {
      order: -1;
    }
  }
}
