@import "_global";

#career-offers {
  gap: 3.75rem;
  padding: 5.45rem 9.15rem;

  .offers-list {
    display: flex;
    flex-direction: column;
    row-gap: 1.56rem;

    > *:not(:last-child) {
      padding-bottom: 1.56rem;
      border-bottom: 1px solid $color-gray-900;
    }
  }
  .offer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    gap: 4rem;
    row-gap: 1.5rem;

    align-items: center;
    font: $font-b16-light;
    white-space: nowrap;
  }
  .wrapper {
    display: flex;
    gap: 4rem;

    &.offer-top {
      flex-grow: 1;
    }
    &.offer-position {
      display: flex;
      justify-content: flex-end;
      gap: 2.25rem;
      flex-grow: 1;
    }
    &.offer-bottom {
      justify-content: space-between;
      flex-grow: 5;
    }
  }
  .offer-talentPool {
    background: $color-gradient;
    padding: 0.625rem 2rem;
    width: 10rem;
    text-align: center;

    font: $font-b15-light;

    color: $color-dark;
    white-space: nowrap;

    cursor: pointer;
    transition: all 1.1s;
    background: linear-gradient(
        90deg,
        $color-green-700,
        $color-blue 50%,
        $color-blue 100%
      )
      0%/200%;
    background-position: 0%;

    &:hover {
      background-position: 100%;
    }
  }

  .offer-talentPool.sec {
    transition: all 0.6s;
    background: linear-gradient(
        90deg,
        $color-green-700,
        $color-blue 50%,
        $color-green-700 100%
      )
      0%/200%;
    background-position: 0%;

    &:hover {
      background-position: 100%;
    }
  }

  .offer-name {
    width: 12rem;
    font: $font-b16-regular;
  }

  .position-name {
  }
  .position-salary {
    font: $font-b16-medium;
  }

  .offer-location {
    width: 10rem;
  }
  .offer-details {
    display: flex;
    gap: 0.75rem;

    &::after {
      content: url("/assets/icons/chevron-down.svg");
      width: 1.6rem;
    }
  }

  @media only screen and (max-width: 1000px) {
    padding: 2.8rem 0.75rem 3rem;

    .offer-container {
      flex-direction: column;
      row-gap: 1.25rem;
    }
    .wrapper {
      display: flex;
      gap: 4rem;
      width: 100%;

      &.offer-top {
        flex-grow: 1;
        justify-content: space-between;
      }
      &.offer-position {
        display: flex;
        justify-content: flex-start;
        gap: 2.25rem;
        flex-grow: 1;
      }
      &.offer-bottom {
        justify-content: space-between;
        flex-grow: 5;
      }
    }
  }
}

#aboutUs-design {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  min-height: 100vh;
  background: $color-gray-500;

  .design-img {
    position: relative;
    flex-basis: 50%;
    min-height: 400px;
    height: auto;
    flex-grow: 1;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .design-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    flex-basis: 50%;
    flex-grow: 1;

    min-width: 450px;
    padding: 13.5rem 4rem;

    color: $color-gray-900;

    > * {
      max-width: 600px;
    }
  }
  .design-title {
    font: $font-h4-medium;
    margin-bottom: 0.5rem;
  }
  .design-subtitle {
    font: $font-h5-italic;
    margin-bottom: 2.75rem;
  }
  .design-desc {
    margin-bottom: 3.25rem;
    font: $font-b17-regular;
  }
  .design-subdesc {
    font: $font-b17-light;
  }

  @media only screen and (max-width: 767px) {
    & {
      .design-img {
        width: 100%;
        min-height: 500px;
      }
      .design-content {
        flex-basis: 100%;
        min-width: unset;
        padding: 2.5rem 0.75rem;
      }
      .design-title {
        font: $font-mobile-b24-medium;
        margin-bottom: 2rem;
      }
      .design-subtitle {
        font: $font-mobile-b19-italic;
        margin-bottom: 2rem;
      }
      .design-desc {
        margin-bottom: 0.75rem;
        font: $font-mobile-b17-regular;
      }
      .design-subdesc {
        font: $font-mobile-b17-regular;
      }
    }
  }
}

#career-contact {
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;

  background: $color-green-700;
  padding: 1rem 10.5rem 1.1rem 8.5rem;

  .contact-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    padding: 3.45rem 0 4.25rem;
  }

  .contact-title {
    width: 450px;
    flex-grow: 1;
    font: $font-h4-light;
  }
  .contact-desc {
    font: $font-b18-regular;
  }
  .contact-img {
    flex-basis: 0;
    height: 25rem;
    aspect-ratio: 1;
  }

  @media only screen and (max-width: 767px) {
    padding: 3rem 0.75rem;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    .contact-title {
      width: 100%;
      font: $font-mobile-h1-light;
    }
    .contact-info {
      gap: 1.45rem;
      width: 100%;
      padding: 0;
    }
    .contact-desc {
      font: $font-mobile-b16-regular;
    }
    .contact-mail {
      font: $font-mobile-b20-regular;
    }
    .contact-img {
      width: 100%;
    }
  }
}

#career-ourValues {
  .ourValues-title {
    flex-grow: 1;
    margin-left: 0;
  }
  .value-item {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    flex-grow: 1;

    min-width: 250px;
    width: 45%;
    max-width: 500px;

    &::before {
      display: none;
    }
  }

  .value-name {
    padding: 1rem 0 1.5rem;
    font: $font-b20-semibold;
  }
  .value-desc {
    font: $font-b16-regular;
  }

  .value-icon {
    height: 3.7rem;
    transition: all 1s;
    overflow: visible;
  }

  // Samodzielność
  .value-icon-1 {
    * {
      transform-origin: center;
      transition: all 1s;
    }
    .white-circle {
      transform-origin: center center;
    }
  }
  .value-item:hover .value-icon-1 {
    > * {
      transform: rotate(90deg);
    }
    .white-circle {
      transform: scale(3.1);
    }
    .circle1 {
      transform: translateY(-15%);
    }
    .circle2 {
      transform: translateX(-15%);
    }
    .circle3 {
      transform: translateX(15%);
    }
    .circle4 {
      transform: translateY(15%);
    }
  }

  // Rozwój
  .value-icon-2 {
    * {
      transform-origin: center;
      transition: all 1s;
    }
    .line2 {
      transform: translate(30%) scale(0.5, 0.75);
    }
    .arrow {
      transform: translate(40%);
    }
  }
  .value-item:hover .value-icon-2 {
    .line1 {
      stroke-dasharray: 100;
    }
  }

  // Zaufanie
  .value-icon-3 {
    * {
      transition: all 1s;
      transform-origin: center center;
    }

    .heart2 {
      transform: translate(0) scale(0.8);
    }
  }
  .value-item:hover .value-icon-3 {
    .heart2 {
      transform: translate(-23%, -17%) scale(1.2);
    }
  }

  // Zaufanie
  .value-icon-4 {
    * {
      transition: all 1s;
      transform-origin: center center;
    }

    .line1 {
    }
    .line2 {
    }

    .circle1 {
      transition: all 1s cubic-bezier(0.67, -0.73, 0.43, 1.91);
    }
    .circle2 {
      transition: all 1.2s cubic-bezier(1, -0.18, 0.53, 1.38);
    }

    .circle3 {
      transition: all 1.3s cubic-bezier(1, -0.18, 0.55, 2.09);
    }
  }
  .value-item:hover .value-icon-4 {
    .circle1 {
      transform: scale(1.1);
    }
    .circle2 {
      transform: scale(1.3);
    }
    .circle3 {
      transform: scale(1.2);
    }
  }

  @media only screen and (max-width: 767px) {
    & {
      padding: 2.8rem 0.75rem 4.7rem;
    }

    .ourValues-list {
      gap: 2.8rem;
    }
    .value-item {
      width: 100%;
      min-width: unset;
    }
    .value-name {
      font: $font-mobile-b20-semibold;
    }
    .value-desc {
      font: $font-mobile-b16-regular;
    }
  }
}

#career-apply {
  padding: 12.25rem 8.45rem 11.8rem;
  background: $color-orange;
  color: $color-white;
  overflow: hidden;

  .apply-steps {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 4rem;
    margin: auto;
    padding: 6.25rem 6.25rem 0;
    overflow-x: scroll;
    max-width: 1400px;
  }
  .applyStep-item {
    display: flex;
    min-width: 8.25rem;
    flex-direction: column;
    align-items: baseline;
  }
  .applyStep-img {
    width: 6rem;
    height: 6rem;
  }

  .applyStep-number {
    font: $font-b16-regular;
    white-space: nowrap;
    color: $color-light-orange;
    margin: 2.2rem 0 1.5rem;
  }
  .applyStep-desc {
    font: $font-b18-regular;
  }

  @media only screen and (max-width: 767px) {
    padding: 4.6rem 0.75rem;

    .apply-steps {
      gap: 7.3rem;
      padding-inline: 1.38rem;
    }

    .applyStep-number {
      font: $font-mobile-b16-regular;
      color: $color-gray-500;
      margin: 2.2rem 0 1.5rem;
    }
    .applyStep-desc {
      font: $font-mobile-b18-regular;
    }
  }
}

#career-benefits {
  align-items: center;
  gap: 6.75rem;
  padding: 7.5rem 8rem 6.75rem 8.44rem;
  .benefits-title {
    width: 100%;
  }
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3.1rem;

    max-width: 2000px;

    .wrapper {
      flex-basis: 0;
      flex-grow: 1;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 3.1rem;
    }
  }
  .benefit-item {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 20%;
    flex-grow: 1;
    min-width: 215px;
  }
  .benefit-img {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 6.25rem;
    height: 6.25rem;
    object-fit: contain;

    padding: 1rem;
    border: 1px solid $color-dark;
    border-radius: 50%;
  }
  .benefit-name {
    font: $font-b18-regular;
  }
  .benefit-desc {
    font: $font-b16-regular;
  }

  @media only screen and (max-width: 767px) {
    padding: 3.75rem 0.75rem;

    .benefit-name {
      font: $font-mobile-b18-regular;
    }
    .benefit-desc {
      font: $font-mobile-b16-regular;
    }
  }
}
