@import "_global";

//// checkWindowCurrencyScript
.isCurrentWindow {
  .circle-line {
    stroke-dashoffset: 0 !important;
  }
}

#offer-hero {
  .hero-desc {
    max-width: 650px;
  }
  .hero-subtitle {
    padding: 0.75rem 0 0.25rem;
  }
  @media only screen and (max-width: 767px) {
    .hero-siteName {
      padding-bottom: 0.5rem;
    }
    .hero-desc {
      display: none;
    }
  }
}

////////// OFFER - TYPING TEXT //////////
///
///

.typingText-section-container {
  padding: 6rem 13rem;

  .typeTextAnimation {
    font: $font-h4-light;
  }
  @media only screen and (max-width: 767px) {
    & {
      padding: 2.5rem 0.75rem;
      .typeTextAnimation {
        font: $font-mobile-h4-light;
      }
    }
  }
}

#offer-typingText2 {
  position: relative;
  &::before {
    content: url("/assets/vectors/dawn.svg");

    position: absolute;
    left: 0;
    top: 4rem;
    z-index: -1;
  }
  @media only screen and (max-width: 767px) {
    &::before {
      display: none;
    }
  }
}

////////// OFFER - ANALYSIS //////////
///
///

#offer-analysis {
  background: $color-gray-500;

  .analysis-steps .workStep-item {
    > * {
      transition: all ease 0.8s;
    }
    &:hover {
      cursor: default;
      &::before {
        background: $color-orange;
      }
      .workStep-title {
        color: $color-orange;
      }
    }
  }

  @media only screen and (max-width: 767px) {
    .analysis-title.circle-selected::before {
      display: none;
    }
  }
}

///
////////// OFFER - DESIGN //////////
/////
///

#offer-design {
  background: $color-green-700;

  .design-subtitle {
    max-width: 270px;
  }
}

@media only screen and (max-width: 767px) {
}

////////// OFFER - IMPLEMENT //////////
///
///

#offer-implement {
  background: $color-orange;
  color: $color-dark;

  .implement-subtitle {
    max-width: 300px;
  }
  .implement-steps {
    .workStep-item::before {
      background: $color-dark;
    }
  }
}
